name: CI

on:
  push:
    branches:
      - master
  pull_request:
  schedule:
    # run CI every day even if no PRs/merges occur
    - cron:  '0 12 * * *'

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: make onesixtyone
      - name: Test
        run: |
          sudo apt update
          sudo apt install -y snmpd
          sudo /etc/init.d/snmpd restart && sleep 10
          bash dotest.sh
